{% extends "admin/app_index.html" %} 
{% load i18n %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktranslate with app.name as name %}Models available in the {{ name }} application.{% endblocktranslate %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktranslate with app.name as name %}{{ name }}{% endblocktranslate %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% translate 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
            
            {% if model.perms.change %}
                <tr>
                    <th scope="row"><a href="{{ model.admin_url }}overview/">{% translate 'Overview' %}</a></th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% translate "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}
