{% extends "admin/base_site.html" %}
{% load i18n %}
{% load request_admin %}

{% block extrahead %}
{% if use_hosted_media %}
<!--[if IE]><script language="javascript" type="text/javascript" src="http://flot.googlecode.com/svn/trunk/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="http://flot.googlecode.com/svn/trunk/jquery.flot.js"></script>
{% else %}
{{ MEDIA_URL }}
<!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}/js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.flot.js"></script>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
    var plot = $.plot($("#trafficgraph"), {{ traffic_graph|safe }}, { xaxis: { mode: "time" }, points: { show: true }, lines: { show: true }, grid: { hoverable: true } } );

    function showTooltip(x, y, contents) {
        $("#tooltip").remove();
        
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #ccc',
            padding: '5px',
            'background-color': '#7CA0C7',
            'color': '#fff',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
    
    var previousPoint = null;
    var date = new Date();
    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    
    $("#trafficgraph").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                date.setTime(item.datapoint[0]).toString;
                showTooltip(item.pageX, item.pageY, item.series.label + ' on ' + monthNames[date.getMonth()] + ' ' + date.getDate() + ' is ' + item.datapoint[1]);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../../">{% trans "Request" %}</a> &rsaquo;
        {% trans "Overview" %}
    </div>
{% endblock %}

{% block content %}
<div style="width:920px;">
    <div class="module" style="float: left; width: 450px;">
        <table summary="{% trans "Last 5 requests" %}" style="width: 100%;">
            <caption>{% trans "Last 5 requests" %}</caption>
            <tr>
                <th>{% trans "Path" %}</th>
                <th>{% trans "From" %}</th>
                <th>{% trans "Response" %}</th>
                <th>{% trans "Time" %}</th>
            </tr>
          {% for request in lastest_requests %}
            <tr>
                <td>{{ request.path }}</td>
                <td>{% if request.user %}{{ request.user }}{% else %}{{ request.ip }}{% endif %}</td>
                <td>{{ request.get_response_display }}</td>
                <td>{{ request.time|date:"H:i d-m-Y" }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>

    <div class="module" style="float: left; margin-left: 16px; width: 450px;">
        <table summary="{% trans "Traffic information" %}" style="width: 100%;">
            <caption>{% trans "Traffic information" %}</caption>
            <tr>
                <td>&nbsp;</td>
                <th>{% trans "Today" %}</th>
                <th>{% trans "This week" %}</th>
                <th>{% trans "This month" %}</th>
                <th>{% trans "This year" %}</th>
                <th>{% trans "Alltime" %}</th>
            <tr>
            
          {% for key,value in info_table %}
            <tr>
                <th>{{ key }}</th>
              {% for item in value %}
                <td>{{ item }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
    </div>
    
    <div class="module" style="clear: both;">
        <table style="width: 100%;">
            <caption>{% trans "Traffic graph" %}</caption>
        </table>
        
        <div style="padding: 15px;">
            <div id="trafficgraph" style="width: 900px; height: 250px;"></div>
        </div>
    </div>
    
    <div class="module" style="float: left; width: 450px;">
        <table summary="{% trans "Top paths" %}" style="width: 100%;">
            <caption>{% trans "Top paths" %}</caption>
            <tr>
                <th>{% trans "Path" %}</th>
                <th>{% trans "Visits" %}</th>
            </tr>
          {% for path,hits in top_paths %}
            <tr>
                <td><a href="{{ requests_url }}?path={{ path }}">{{ path }}</a></td>
                <td>{{ hits }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>

    <div class="module" style="float: left; margin-left: 16px; width: 450px;">
        <table summary="{% trans "Top error-returning paths" %}" style="width: 100%;">
            <caption>{% trans "Top error-returning paths" %} <a href="{{ requests_url }}?response__gte=400">({% trans "more" %})</a></caption>
            <tr>
                <th>{% trans "Path" %}</th>
                <th>{% trans "Visits" %}</th>
            </tr>
          {% for path,hits in top_error_paths %}
            <tr>
                <td><a href="{{ requests_url }}?path={{ path }}">{{ path }}</a></td>
                <td>{{ hits }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>

    <div class="module" style="clear: both; float: left; width: 450px;">
        <table summary="{% trans "Top referrers" %}" style="width: 100%;">
            <caption>{% trans "Top referrers" %}</caption>
            <tr>
                <th>{% trans "Referrer" %}</th>
                <th>{% trans "Visits" %}</th>
            </tr>
          {% for referrer,hits in top_referrers %}
            <tr>
                <td><a href="{{ referrer }}" title="{{ referrer }}">{{ referrer|trunc:"60" }}</a></td>
                <td>{{ hits }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
    
    <div class="module" style="float: left; margin-left: 16px; width: 450px;">
        <h2>{% trans "Top browsers" %}</h2>
        <img src="{{ top_browsers }}" />
    </div>
</div>
{% endblock %}